@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    
    <h1 class="display-4">Seja bem-vindo</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/3152/3152560.png" heigh="50px" width="50px"></img>
    <p>Learn about <a href="https://github.com/joaovqmartins?tab=repositorie">building Web apps with ASP.NET Core</a>.</p>
</div>
